* {
	margin: 0;
	padding: 0;
}

body{
	font-family: Futura, sans-serif;
	font-size: 100%;
	width: 850px;
    margin: 0 auto;
    border: none;
    background-color: #898686;
}
p{
	font-size: 120%
}
footer{
	font-size: 80%;
}
textarea{
	text-align:left;
}

#image{
float:left;
width: 500px;
}


ul {
	position: fixed;
	top:0;
	width: 60%;
	list-style-type:none;
	margin: 0 auto;
	padding: 0;
	border: 3px solid black;
	overflow: hidden;
	background-image: url("images/charcoal_background.jpg");
}
h1{
	text-align:center;
	font-style: italic;
	line-height: 600%;
}
h2{
	text-align:center;
	line-height: 230%;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
	font-size: 40px;
	padding: 16px 18px;
}
li a:hover{
	background-color: black;
}
.active{
	background-color:gray;
}
	
	